@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&family=Protest+Riot&display=swap');

//colors

$gray-color: #f3f3f3;
$third-color: #ffb600;

//fonts

$logo-font: 'Protest Riot', sans-serif;
$header-font: 'Kanit', sans-serif;

//breakpoints

$x-small: 576px;
$small: 768px;
$medium: 992px;
$large: 1200px;
$x-large: 1400px; 