@use '../../../../../../../assets/styles/base';
@use '../../../../../../../assets/styles/shared-styles.scss';

.wrapper
{
    @include shared-styles.wrapper;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: base.$header-font;
    background-color: base.$gray-color;
}

