<div class="wrapper">
    <div class="container">
        <img src="../../../../../../../../../assets/images/description-section.png">
        <div class="description">
            <h2>Odkryj prawdziwy smak świeżości</h2>
            <p>Nasze dania to nie tylko pyszne doznania, ale także gwarancja 100% wołowiny bez dodatków. Każdy kęs to prawdziwa uczta dla podniebienia, bo u nas liczy się przede wszystkim świeżość i naturalność składników.</p>
            <div class="button"><h3 (click)="navigate()">Czytaj więcej</h3></div>
        </div>
    </div>
</div>
