<div class="wrapper">
    <div class="container">
        <div class="description">
            <h2>Historia</h2>
            <p>Swoją kulinarową podróż zaczęliśmy w 2016 roku od skromnego foodtracka. Początkowo byliśmy mobilnym kącikiem smaków, a entuzjazm i wsparcie naszych klientów sprawiły, że zdecydowaliśmy się podjąć kolejny krok.</p>
            <p>
                Dzięki pasji do tworzenia doskonałych burgerów udało nam się otworzyć nasze pierwsze stałe miejsce w Krakowie. Jest to prawdziwe kulinarne sanktuarium dla miłośników burgerów. Sukces tego miejsca zainspirował nas do podjęcia kolejnego wyzwania, otwierając drugą restaurację w Szczawnicy
            </p>
        </div>
    </div>
</div>
