<div class="wrapper">
    <div class="container">
        <div class="carousel">
            <div class="card" *ngFor="let bestseller of bestsellers">
                <div class="img-box">
                    <img src="../../../../../../../../../assets/images/test.jpg">
                </div>
                <div class="description">
                    <h2>{{bestseller.name}}</h2>
                    <p>bułka <span>&bull;</span> wołowina <span>&bull;</span> bekon <span>&bull;</span> pomidor <span>&bull;</span> pikle</p>
                </div>
            </div>
    </div>
</div>
