@use '../../../assets/styles/shared-styles.scss';
@use '../../../assets/styles/base';

.wrapper
{
    @include shared-styles.wrapper;
    height: 100vh;
    min-height: 600px;
    background-image: url('../../../assets/images/2.jpg');
    background-position: center;
    background-size: cover;
    position: relative;
    align-items: center;
    flex-direction: column;

    h2
    {
        text-transform: uppercase;
        font-family: base.$header-font;
        color: white;
        z-index: 1;
        letter-spacing: 3px;
        padding: 20px;
    }
}

.overly
{
    @include shared-styles.overly;
}

.logo
{
    @include shared-styles.logo;
    width: 180px;
    height: 180px;
    z-index: 1;
    background-color: #000000;
    border-radius: 100px;
    font-size: 16px;
}