<div class="wrapper" (click)="onCloseForm()">
    <div class="container" (click)="stopPropagation($event)">
        <form class="form" [formGroup]="ingredientForm" (ngSubmit)="onSubmit()">
            <div>
                <label>Nowy składnik</label>
                <input 
                    type="text"
                    placeholder="nazwa składnika"
                    formControlName='name' 
                >
            </div>
            <div class="price">
                <label>Cena składnika</label>
                <input 
                    type="number"
                    placeholder="cena"
                    formControlName='price'  
                >
            </div>
            <button type="submit" (click)="stopPropagation($event)" >
                <h4>Dodaj</h4>
            </button>
        </form>
        <div class="ingredients">
            <label>Istniejące składniki</label>
            <div class="ingredient-box">
                <p *ngIf="existingIngredients.length === 0">brak składników</p>
                <div 
                [ngStyle]="{'background-color': ingredient.isMarked ? '#ffb600' : ''}"
                (click)="ingredientMarker(ingredient.name)"
                class="ingredient" 
                *ngFor="let ingredient of existingIngredients">
                    <p>{{ingredient.name}}</p>
                </div>
            </div>
        </div>
    </div>
</div>
