<div class="wrapper">
    <div class="form">
        <app-form *ngIf="productForm"
            [formGroup]="productForm"
            [formSettings]="productFormSettings"
            [buttonLabel]="'Dodaj'"
            (formEvent)="onSubmitForm($event)"
            (optionEvent)="changeProductType($event)"
            (fileEvent)="onFileSelect($event)"
        />
        <div class="photo">
            <div *ngIf="!imageSrc"><fa-icon [icon]="faCamera"/></div>
            <img *ngIf="imageSrc" src={{imageSrc}}>
        </div>
    </div>
    <div class="ingredients">
        <p>Składniki</p>
        <div *ngFor="let ingredient of productIngredients">
            <app-ingredients-item
                (changeQuantityEvent)="changeIngredientQuantity($event)"
                (removeItemEvent)="removeIngredient($event)"
                [ingredient]="ingredient"
            />
        </div>
        <div class="button" (click)="openIngredientForm()">
            <p>Dodaj składnik</p>
        </div>
    </div>
    <app-ingredients-form 
        *ngIf="isIngredientFormOpen" 
        [productIngredients]="productIngredients"
        (closeFormEvent)="closeIngredientForm()"
    />
</div>
