<div class="wrapper" #intro>
    <div class="container">
        <div>
            <div class="logo">
                <app-logo/>
            </div>
        </div>
        <div class="description">
            <h2>Witaj w naszej restauracji</h2>
            <p>Jesteśmy miejscem, gdzie pasja do doskonałego smaku łączy się z przyjemnością spędzania czasu w wyjątkowej atmosferze. W It Burgers wierzymy, że każdy posiłek powinien być nie tylko smaczny, ale również niezapomniany. Dlatego stworzyliśmy to miejsce, abyś mógł doświadczyć prawdziwie wyjątkowych burgerów</p>
        </div>
    </div>
</div>
