@use '../../../../assets/styles/base';

.wrapper
{
    width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px 0;
    position: relative;

    >div
    {
        width: 80%;
        display: flex;
    }

    >span
    {
        position: absolute;
        width: 90%;
        height: 1px;
        background-color: rgb(233, 233, 233);
        top: 0;
    }

}

.product
{
    justify-content: space-between;

    h4
    {
        span
        {
            margin-right: 20px;
        }
    }
}

.quantity
{
    justify-content: center;
    align-items: center;
    margin-top: 10px;

    div
    {
        width: 25px;
        height: 25px;
        background-color: base.$gray-color;
        font-size: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 100px;
        margin: 0 15px;
        text-align: center;
        cursor: pointer;
    }

    p
    {
        font-size: 25px;
    }
}