@use '../../../assets/styles/base';

.wrapper
{
    width: 300px;
    height: 100vh;
    overflow-y: auto;
    position: fixed;
    left: 0;
    top: 0;
    box-shadow: 11px -8px 9px -12px #42445a;
    background-color: white;
    transform: translateX(-102%);
    transition: all ease-in-out 0.2s;
    z-index: 1;
}

.container
{
    width: 100%;
    height: 100%;
    min-height: 800px;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
    font-family: base.$header-font;
}

.logo
{
    width: 150px;
    height: 150px;
    background-color: black;
    border-radius: 100px;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.controls
{
    position: absolute;
    right: 5%;
    top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: base.$header-font;
    z-index: 1;

    h4
    {
        width: 100px;
        cursor: pointer;
        color:base.$third-color;
    }
}

.burger
{
    width: 30px;
    height: 21px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    margin-left: 5px;

    span
    {
        width: 100%;
        height: 2px;
        background-color: black;
        border-radius: 10px;
    }
}

@media(min-width : base.$small)
{
    .wrapper
    {
        transform: translateX(0);
        transition: none;
    }

    .burger
    {
        display: none;
    }
}