@use '../../../../../../../assets/styles/base';

.ingredient
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px 0;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 1px solid #d3d3d3;

    >div
    {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    h4, >p
    {
        padding: 0 10px;
    }
    
}

.icons
{
    display: flex;
    align-items: center;

    p
    {
        padding: 0 3px;
        cursor: pointer;
    }

    .delete
    {
        color: red;
        font-size: 20px;
    }

}