@use '../../../../assets/styles/shared-styles';
@use '../../../../assets/styles/base';

.wrapper
{
    @include shared-styles.overly;
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader {
    width: 55px;
    height: 55px;
    border: 5px solid base.$third-color;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    }

    @keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
    } 