<div class="wrapper">
    <app-mobile/>
    <div class="overly"></div>
    <div class="navbar">
        <div class="box">
            <div class="logo"><app-logo/></div>
                <app-links appNavbar/>
            <div class="burger" (click)="openMenu()">
                <div></div>
                <div></div>
                <div></div>
            </div>
            <span></span>
        </div>
    </div>
    <div class="header">
            <h2>Odkryj Nasze Wyjątkowe Burgery</h2>
            <p>Nasze burgery to doświadczenie pełne intensywnych i wyjątkowych smaków oraz gwarancja najwyższej jakości składników. Każdy kęs to podróż po zmysłach!</p>
            <div class="button">
                <h3 (click)="navigate()">Sprawdź menu</h3>
            </div>
    </div>
</div>
