@use '../../../assets/styles/shared-styles';
@use '../../../assets/styles/base';

.wrapper
{
    width: 100%;
    height: 100vh;
    min-height: 600px;
    background-image: url('../../../assets/images/navbar-background.jpeg');
    background-position: center;
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
    font-family: base.$header-font;
}

.overly
{
    @include shared-styles.overly;
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,0) 37%, rgba(0,0,0,0.8380602240896359) 93%);
}

.navbar
{
    width: 100%;
    height: 80px; 
    position: absolute;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box
{
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;

    span
    {
        position: absolute;
        width: 100%;
        height: 1px;
        background-color: #ffffff18;
        bottom: 0;
    }
}

.logo
{
    width: 120px;
    height: 80px;
    font-size: 10px;
    padding: 20px;
}

.links
{
    width: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    list-style: none;

    li
    {
        padding: 15px 20px;
        text-transform: uppercase;
    }

    a
    {
        text-decoration: none;
        color: #ffffff8a;
        font-family: base.$header-font;
        letter-spacing: 3px;
        font-size: 18px;
        position: relative;
    }

    a:hover
    {
        color: white;
    }

    .active
    {
        color: white;
    }
}

.burger
{
    width: 30px;
    height: 21px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    margin-right: 5%;

    div
    {
        width: 100%;
        height: 2px;
        background-color: white;
        border-radius: 10px;
    }
}

.burger:hover
{
    div
    {
        background-color: base.$third-color;
    }
}

.header
{
    position: absolute;
    width: 90%;
    max-width: 300px;
    height: 400px;
    left: 10%;
    bottom: 10%;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: white;

    h2
    {
        font-size: 25px;
    }

    p
    {
        padding: 15px 0;
        font-size: 15px;
    }

    h3
    {
        font-size: 15px;
    }
}

.button
{
    @include shared-styles.button;
    margin-top: 15px;
}

@media(min-width : base.$medium)
{
    .navbar
    {
        height: 200px;
    }

    .box
    {
        flex-direction: column;
        justify-content: center;
    }

    .links
    {
        display: flex;
    }

    .logo
    {
        width: 120px;
        height: 90px;
        margin: 20px;
        padding: 0;
        font-size: 15px;
    }

    .burger
    {
        display: none;
    }

    .header
    {
        max-width: 600px;
        h2
        {
            font-size: 35px;
        }

        p
        {
            font-size: 20px;
        }
    }
}

