<ul class="links">
    <li>
        <a [routerLinkActive]="'active'" [routerLink]="['zamowienia']" (click)="navigate('nowe')"><span><fa-icon [icon]="faBell"/></span>Zamówienia</a>
    </li>
    <li>
        <a [routerLinkActive]="'active'" [routerLink]="['produkty']"><span><fa-icon [icon]="faBurger"/></span>Produkty</a>
    </li>
    <li>
        <a [routerLinkActive]="'active'" [routerLink]="['skladniki']"><span><fa-icon [icon]="faEgg"/></span>Składniki</a>
    </li>
    <li>
        <a [routerLinkActive]="'active'" [routerLink]="['godziny-otwarcia']"><span><fa-icon [icon]="faClock"/></span>Godziny otwarcia</a>
    </li>
    <li>
        <a [routerLinkActive]="'active'" [routerLink]="['dni-wolne']"><span><fa-icon [icon]="faCalendar"/></span>Dni wolne</a>
    </li>
    <li>
        <a [routerLinkActive]="'active'" [routerLink]="['kontakt']"><span><fa-icon [icon]="faPhone"/></span>Kontakt</a>
    </li>
    <li>
        <a [routerLinkActive]="'active'" [routerLink]="['ranking']"><span><fa-icon [icon]="faRankingStar"/></span>Ranking</a>
    </li>
    <li (click)="logOut()">
        <a (click)="logOut()" [routerLinkActive]="'active'" [routerLink]="['/logowanie']"><span><fa-icon [icon]="faSignOut"/></span>Wyloguj się</a>
    </li>
</ul>
