@use '../../../../../assets/styles/shared-styles.scss';

.wrapper
{
    @include shared-styles.admin-wrapper;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    >div
    {
        width: 90%;
    }

}