<div class="wrapper">
    <div class="overly"></div>
    <div class="container">
        <div class="description">
            <h2>Nasza Filozofia</h2>
            <p>W It Burgers kładziemy ogromny nacisk na jakość składników. Oferujemy świeże, lokalne produkty, dbając o każdy detal, aby zapewnić naszym gościom niepowtarzalne doznania kulinarne. Nasze burgery są przygotowywane na miejscu, z pasją i zaangażowaniem, by zachwycić nawet najbardziej wymagające podniebienia.</p>
        </div>
    </div>
</div>

